  input[type="file"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
.col1
{
  display: flex;
  justify-content: center;
}
:host {
  display: block;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.5) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.5) 1px, transparent 1px),
    linear-gradient(45deg, rgba(255, 255, 255, 0.5) 1px, transparent 1px),
    linear-gradient(-45deg, rgba(255, 255, 255, 0.5) 1px, transparent 1px);
  background-size: 30px 30px;
}