<div class="container">
    <div class="row">
      <div class="col-lg-4">
        <mat-card>
          <mat-card-content>
            <div class="form-container">
              <form class="form-group text-center">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>What are you searching for?</mat-label>
                  <input matInput placeholder="Enter your search term" class="form-control">
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Search</button>
              </form>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
   